<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
  </head>
  <body>

    <ul>
        <% messages.forEach((message) => { %>
            <%- include('messages/message', {message: message}); %>
        <% }); %>
    </ul>

  </body>
</html>