<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>Mini Messageboard</title>
  </head>
  <body>
    <a href="/new">Create New Message</a>
    <ul class="message-list">
        <% messages.forEach((message, index) => { %>
            <%- include('messages/message', {message: message, index: index}); %>
        <% }); %>
    </ul>

  </body>
</html>